@import "tailwindcss";

@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1b1e28;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2b3042;
}